
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* 1 parte do header */

.nav-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.logo {
    height: 40px;
    width: 180px;
    margin: 5px 0px 0px 10px;
}

.search-bar-button .search-bar {
    width: 640px;
    height: 38px;
    border-radius: 20px;
    border: 2px solid #FF6A00;
    color: #333;
    padding: 2px;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    margin-top: 10px;
    margin-left: -45px;
}

.search-bar:active {
    border: 2px solid #FF6A00;
}

.search-bar:focus {
    border: 2px solid #FF6A00;
}

.search-btn {
    background-color: #FF6A00;
    border: none;
    height: 38px;
    width: 100px;
    border-radius: 0 20px 20px 0;
    margin-left: -50px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}

.search-btn:hover {
    background-color: #E35300;
}

.services-2 {
    display: flex;
    flex-direction: row;
    gap: 25px;
    font-weight: 400;
    font-style: normal;
    size: 12px;
    margin-right: 20px;
    margin-top: 4px;
}

.login {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-right: -20px;
}

.login img {
    margin-right: 6px;
}

.text-login {
    display: flex;
    flex-direction: column;
}

.text-login h5 {
    margin: 0px;
    font-size: 15px;
    font-weight: 500;
}

.text-login h5:hover {
    color: #FF7A1C;
}

.intem-s2 {
    display: flex;
    flex-direction: column;
    align-items: center ;
    margin-top: 4px;
}

.intem-s2 h5 {
    margin-top: 0px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
}

.intem-s2 h5:hover {
    color: #FF7A1C;
}

.login img {
    height: 32px;
    width: 32px;
}

.services-2 img {
    height: 25px;
    width: 25px;
}

/* divisão do header */

.division-header {
    background-color: #E6E7EB;
    height: 1.4px;
    margin: 10px 0px 7px 0px;
    border: none;
}

/* 2 parte do header */

.header-2 {
    display: flex;
    flex-direction: row;
    padding: 4px;
    padding-bottom: 8px;
    gap: 20px;
    width: 100%;
    box-shadow: 0.1em 0.1em 0.2em rgba(133, 130, 130, 0.616);
}

.categories {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.categories img {
    margin-left: 7px;
    height: 18px;
    width: 18px;
}

.bar-categories {
    background-color: #E6E7EB;
    border: none;
    width: 2px;
}

.services-3 {
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
}

.categories p:hover {
    color: #FF6A00;
    transition: all 0.2s;
    cursor:pointer;
}

.services-3 li:hover {
    color: #FF6A00;
    transition: all 0.2s;
    cursor:pointer;
}

/* main */

.title-pc {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
}

.main {
    background-color: #F2F3F7;
    height: 600px;
    margin-top: 0.1em;
    box-sizing: border-box;
}

.principal-card {
    border: 1px solid #E6E7EB;
    margin: auto;
    background-color: #fff;
    width: 90%;
    height: 480px;
    padding: 40px;
    display: flex;
    flex-direction: row;
}

.product-categories {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    list-style: none;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}

.product-categories img{
    width: 30px;
    height: 30px;
}

.iten {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.iten:hover {
    color: #ff6600;
    transition: all 0.1s;
    cursor: pointer;
}

.image-banner {
    margin: 0px 20px 0px 20px;
    cursor: pointer;
}

.mini-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* cards */

.prod-card {
    display: flex;
}

.prod-card img {
    width: 20px;
    height: 20px;
}

/* Footer */

#footer {
    width: fit;
    height: 400px;
    background-color: #445268;
}

#ft-text-principal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    margin-bottom: 20px;
}

#ft1-form {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    gap: 10px;
}

#ft1-email {
    height: 40px;
    width: 300px;
    background-color: #313D51;
    border: rgb(196, 198, 207) solid 1px;
    padding: 10px;
}

#ft1-btn {
    cursor: pointer;
    height: 40px;
    width: 100px;
    background-color: #445268;
    border: rgb(196, 198, 207) solid 1px;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
}

.links-footer {
    margin-top: 50px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    color: #fff;
}

.link-ft ul li {
    list-style: none;
    font-size: 15px;
}

.link-ft ul li a {
    text-decoration: none;
    color: #fff;
}

.link-ft ul li a:hover {
    color: #fff;
    text-decoration: underline;
}